* {
    box-sizing: border-box;
}

body {

    font-family: 'Inter', sans-serif;
    background-color: #00072A;
    text-align: center;
    color: rgb(206, 211, 216);
    margin: 0;
    padding: 0;
}

.hero {

    font-family: 'Poppins', sans-serif;

}

nav {

    font-family: 'Poppins', sans-serif;

}

header {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 7, 42, 0.8);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

nav {

    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

nav span {

    text-align: right;
    font-size: 1.4rem;
    padding: 0.5rem;
    color:aliceblue;
    font-weight: bold;

}

nav a {
    text-align: center;
    padding: 0.8rem;
    text-decoration: none;
    color: rgb(206, 211, 216);
    transition: all 0.3s ease;
    border-radius: 6px;

}

nav a:hover {

    color: aliceblue;
    background-color: #0A144A;

}


section {

    width: 100vw;
    min-height: 100vh;
    padding-top: 3.5rem;

}

.hero {

    background: radial-gradient(circle at center, #0A144A 0%, #00072A 100%, transparent 51%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    

}

.hero h1 {

    font-size: 6rem;
    margin: auto;
    letter-spacing: -0.2rem;
    background: linear-gradient(135deg, #ffffff 0%, #a1a1aa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero p {

    font-size: 2rem;
    margin-top: 0.5rem;
    letter-spacing: 0.3rem;
    color: #a1a1aa;

}

.hero-text {

    margin: 18rem;

}

section h2 {

    font-size: 3.5rem;
    margin-bottom: 0.1rem;
    background: linear-gradient(135deg, #ffffff 0%, #a1a1aa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.subtitle {

    font-size: 1.3rem;
    margin-top: 0.1rem;
    margin: 0;

}

.about-cards {

    display: flex;
    gap: 6rem;
    align-items: stretch;
    margin-top: 5rem;
    margin: 6rem;

}

.school, .characteristics, .future {

    flex: 1;
    text-align: left;
    padding: 1.8rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(310deg, #000729 0%, #070164 100%);
    font-size: 0.95rem;
    transition: 0.3s ease;

}

.school:hover, .characteristics:hover, .future:hover {

    transform: scale(1.05);
    border: 3px solid rgba(255, 255, 255, 0.7);
    background: linear-gradient(310deg, #000d4a 0%, #0b0192 100%);
    padding: 1.7rem;
    
}

section h3 {

    font-size: 1.8rem;
    text-align: left;
    
}

.coding, .software, .hardware, .others {

    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 3rem;
    align-items: stretch;
    gap: 3rem;

}

.skills {

    background-color: #040d38;
    padding-bottom: 4rem;

}

.skillcard {

    margin: 1rem;
    border: 3px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    background-color: #111d57;
    display: block;
    padding: 1rem;
    width: 12rem;
    height: 12rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: 0.3s ease;

}

.skillcard:hover {

    transform: scale(1.1);
    background-color: #142268;
    border: 4px solid rgba(255, 255, 255, 0.7);

}

.skillcard img {

    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    

}

.skillcard p {

    margin-bottom: 0rem;
    margin-top: 0rem;

}

.dots {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.dot {

    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #a1a1aa;
    display: inline-block;

}

.dot-a {

    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #ffffff;
    display: inline-block;

}

.skillcard svg {

    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    fill: rgb(0, 0, 0);

}

.skills h3 {

    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0rem;

}

.skillcard p:first-of-type {

    font-weight: bold;

}

.experience {

    margin-bottom: 6rem;

}

.experience h2 {

    margin-top: 2rem;

}

.experience img {

    width: 50%;
    height: 70vh;
    object-fit: cover;
    object-position: 0%;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    transition: 0.3s ease;

}

.experience img:hover {

    transform: scale(1.05);

}

.risebox {

    display: flex;
    width: 70%;
    height: 80%;
    align-content: space-between;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    position: relative;

}

.risecard {

    padding: 2rem;
    text-align: left;
    background-color: #040d38;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    width: 50%;
    margin-left: 48%;
    padding-left: 5%;
    height: 70vh;

}

.risecard h3 {

    margin-top: 0rem;
    margin-bottom: 0.5rem;

}

.rise-head {

    font-weight: bold;

}

.rise-desc {

    font-weight: 0.95;
    color: #a3a4b0;
    font-size: 0.88rem;

}

.education {

    background-color: #040d38;

}

.education h2 {

    margin-top: 2rem;

}

.education .subtitle {

    margin-bottom: 2rem;
    margin-top: 1rem;

}

.educards {

    display: flex;
    margin: auto;
    justify-content: center;
    gap: 5rem;
    align-items: stretch;

}

.educard {

    border: 3px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    background-color: #111d57;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    transition: 0.3s ease;
    flex: 0 1 auto;
    transition: 0.3s ease;

}

.educard:hover {

    transform: scale(1.05);
    background-color: #142268;
    border: 4px solid rgba(255, 255, 255, 0.7);

}

.educard img {

    width: 20rem;
    height: 20rem;
    object-fit: cover;
    padding: 2rem;

}

.educard p {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.education h3 {

    text-align: center;
    font-size: large;
    margin-bottom: 0.5rem;

}

.schoolgeo {

    margin-top: 0rem;
    margin-bottom: 1rem;
    color: #a3a4b0;

}

.contactcards {

    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 70%;
    gap: 6rem;
    margin-top: 6rem;

}

.contact h2 {

    margin-top: 5rem;

}

.contactcard {

    flex: 1;
    text-align: left;
    padding: 1.8rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(310deg, #000729 0%, #070164 100%);
    font-size: 0.95rem;
    transition: 0.3s ease;
    width: 20rem;
    height: 20rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}

.contactcard:hover {

    transform: scale(1.05);
    border: 3px solid rgba(255, 255, 255, 0.7);
    background: linear-gradient(310deg, #000d4a 0%, #0b0192 100%);
    padding: 1.7rem;

}

.contactcard img {

    width: 50%;

}

.contactcard span {

    font-size: 1.8rem;

}

.contactcard p {

    margin: 0;

}

footer {

    border-top: 1px solid rgba(255, 255, 255, 0.05); 
    padding: 1.5rem;

}

